h1{
  color: gold;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  justify-content: center;
  font-size: 100px;
}
a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  color: gold;
  padding: 10px;
  margin: 200px 700px 200px 700px;
  cursor: pointer;
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 55px;
}
h3{
  color: gold;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
}
*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#floor{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  position: absolute;
  bottom: 0;
}
#player{
  height: 75px;
  width: 50px;
  background-image: url('/images/run1.png');
  background-size: cover;
  position: absolute;
  bottom: 100px;
  right: calc(100% - 100 px);
  animation-name: run;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes run {
  0%,
  100% {
    background-image: url('/images/run1.png');
  }
  33% {
    background-image: url('/images/run2.png');
  }
  66% {
    background-image: url('/images/run3.png');
  }
}
.obstacle{
  height: 100px;
  width: 30px;
  background-color: black;
  position: absolute;
  bottom: 100px;
  right: 0;
  border-radius: 5px;
}
h2{
  margin-top: 35px;
  margin-left: 35px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 55px;
  color: gold;
}
#Gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
}
#gameOverMessage {
text-align: center;
font-size: 45px;
color: rebeccapurple;
margin-bottom: 100px;
}

#href {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  border-radius: 15px;
  color: gold;
  padding: 10px;
  margin: 10px 700px 10px 700px;
  cursor: pointer;
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 35px;
}